<!DOCTYPE html>
<html lang="en">

<head>
  <title>布谷鸟优惠推荐</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <meta http-equiv="Cache-control" content="max-age=129600" />
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../css/dropload.css">
  <script src="../lib/jquery.min.js"></script>
  <script src="../lib/socket.io.js"></script>
  <script src="../lib/monent.js"></script>
  <script src="../lib/vue.js"></script>
  <style>
    body {
      overflow: auto !important;
      -webkit-overflow-scrolling: touch !important;
    }

    #contentmenu {
      position: fixed;
    }

    #contentmenu button {
      background: #ffffff;
      border: none;
      color: #171717;
      border-radius: 2px;
      width: 80px;
      height: 36px;
      box-shadow: 0px 3px 7px #ddd;
      font-size: 14px;
    }
  </style>
</head>

<body>
  <input type="hidden" name="" value="<%= group_id %>" id="group_id">
  <input type="hidden" name="" value="<%= user_id %>" id="user_id">
  <input type="hidden" name="" value="<%= nickname %>" id="nickname">
  <input type="hidden" name="" value="<%= avatar %>" id="avatar">
  <div id="chat">

    <div class="chatBox">
      <!-- <div class="chatBox-title">
      <div class="chatBox-info">
        <h3 class="chatBox-info-name">布谷鸟优惠推荐
          <span id='count'>({{count}})</span>
        </h3>
      </div>
      <div class="chatBox-switch">
        <i class="iconfont icon-close" title="关闭"></i>
      </div>
    </div> -->
      <div class="chatBox-content">
        <div style="display:flex" class="refresh">
          <p>{{refresh.tip}}</p>
        </div>
        <div class="chatBox-content-main" :style="{'transform': 'translate3d(0,'+ pull +'px,0)'}">
          <ul class="chatBox-ul">
            <li v-for='item in messages' :key="item.time" :class="{'chatRoom-notice': item.type==3,'chatRoom-me': item.type==1}">
              <template v-if='item.type==1'>
                <cite>
                  <i>{{item.time}}</i>
                  <span>
                   {{item.name}}
                </span> 
                </cite>
                <div class='chatRoom-user'><img :src='item.src' />

                </div>
                <div :class="['chatRoom-user-text','chatId-'+item.id]" v-if='item.info' v-html='item.info' @click="getSelection"></div>
              </template>
              <template v-if='item.type==2'>
                <cite>
                  <span>{{item.name}}</span>
                  <i>{{item.time}}</i>
                </cite>
                <div class='chatRoom-user'><img :src='item.src' />
                </div>
                <div :class="['chatRoom-user-text','chatId-'+item.id]" v-if='item.info' v-html='item.info' @click="getSelection"></div>
                <div class="chatRoom-user-text chatRoom-img" v-if='item.img'>
                  <img :src="item.img + '_400x400q50'" alt="" />
                </div>
              </template>
              <template v-if='item.type==3'>
                {{item.info}}
              </template>
            </li>
          </ul>
        </div>
        <div style="height:50px"></div>
        <div class="chatBox-content-footer">
          <div class="chatBox-textarea">
            <span class="chatBox-icon iconfont icon-xiaolian" title="表情" @click='showPannel'></span>
            <textarea class="textarea" v-model='textarea' @keyup.enter.stop.prevent="sendText" v-focus></textarea>
            <span class="chatBox-btn-send" @click="sendMsg">发送</span>
          </div>

        </div>
        <transition name='fade'>
          <div class="facewrap" v-if='showEmoji'>
            <ul>
              <li v-for='e in emojis' :key='e.id' @click='selectE(e)' v-html="'&#x' + e.code + ';'"></li>
            </ul>
          </div>
        </transition>
        <!-- <transition name='float'> -->
        <!-- <div id="contentmenu" v-if='contentmenu.show' :style="{left:contentmenu.left + 'px',top:contentmenu.top + 'px'}">
          <button type="button" class="copyBtn" data-clipboard-action="copy" :data-clipboard-target="'.'+contentmenu.target" onclick="void(0)">复制</button>
        </div> -->
        <!-- </transition> -->
      </div>
    </div>
  </div>
  <script>
    'use strict';

    var socket = io.connect('/chatroom');
    var chat = new Vue({
      el: '#chat',
      data: function data() {
        return {
          emojis: [{
            code: "1F60D", name: "smiling face with heart-shaped eyes", native: "😍"
          }, {
            code: "1F61C", name: "face with stuck-out tongue and winking eye", native: "😜"
          }, {
            code: "1F61D", name: "face with stuck-out tongue and tightly-closed eyes", native: "😝"
          }, {
            code: "1F603", name: "smiling face with open mouth", native: "😃"
          }, {
            code: "1F60B", name: "face savouring delicious food", native: "😋"
          }, {
            code: "1F618", name: "face throwing a kiss", native: "😘"
          }, {
            code: "1F61A", name: "kissing face with closed eyes", native: "😚"
          }, {
            code: "1F637", name: "face with medical mask", native: "😷"
          }, {
            code: "1F633", name: "flushed face", native: "😳"
          }, {
            code: "1F605", name: "smiling face with open mouth and cold sweat", native: "😅"
          }, {
            code: "1F606", name: "smiling face with open mouth and tightly-closed eyes", native: "😆"
          }, {
            code: "1F601", name: "grinning face with smiling eyes", native: "😁"
          }, {
            code: "1F602", name: "face with tears of joy", native: "😂"
          }, {
            code: "1F60A", name: "smiling face with smiling eyes", native: "😊"
          }, {
            code: "1F604", name: "smiling face with open mouth and smiling eyes", native: "😄"
          }, {
            code: "1F622", name: "crying face", native: "😢"
          }, {
            code: "1F62D", name: "loudly crying face", native: "😭"
          }, {
            code: "1F628", name: "fearful face", native: "😨"
          }, {
            code: "1F623", name: "persevering face", native: "😣"
          }, {
            code: "1F621", name: "pouting face", native: "😡"
          }, {
            code: "1F60C", name: "relieved face", native: "😌"
          }, {
            code: "1F616", name: "confounded face", native: "😖"
          }, {
            code: "1F614", name: "pensive face", native: "😔"
          }, {
            code: "1F612", name: "unamused face", native: "😒"
          }, {
            code: "1F624", name: "face with look of triumph", native: "😤"
          }, {
            code: "1F631", name: "face screaming in fear", native: "😱"
          }, {
            code: "1F62A", name: "sleepy face", native: "😪"
          }, {
            code: "1F60F", name: "smirking face", native: "😏"
          }, {
            code: "1F620", name: "angry face", native: "😠"
          }, {
            code: "1F629", name: "weary face", native: "😩"
          }, {
            code: "1F632", name: "astonished face", native: "😲"
          }, {
            code: "1F61E", name: "disappointed face", native: "😞"
          }, {
            code: "1F635", name: "dizzy face", native: "😵"
          }, {
            code: "1F613", name: "face with cold sweat", native: "😓"
          }, {
            code: "1F496", name: "sparkling heart", native: "💖"
          }, {
            code: "1F47B", name: "ghost", native: "👻"
          }],
          group_id: '',
          user_id: '',
          nickname: '',
          avatar: '',
          showEmoji: false,
          textarea: '',
          count: 0,
          messages: [],
          page: 1,
          size: 10,
          isEnd: false,
          isLock: false,
          refresh: {
            // 下拉刷新：1，释放立即刷新：2 ,正在刷新：3，刷新成功：4
            tip: '下拉刷新',
            type: 1
          },
          pull: 0,
          contentmenu: {
            show: false,
            left: 0,
            top: 0,
            target: 0
          }
        };
      },
      mounted: function mounted() {
        this.group_id = document.getElementById('group_id').value;
        this.user_id = document.getElementById('user_id').value;
        this.nickname = document.getElementById('nickname').value;
        this.avatar = document.getElementById('avatar').value;
        // 初始化
        this.init(this.group_id);
        this.getHistory();
        // this.initscroll()
        this.downRefresh('.chatBox-content', 'y');
      },

      methods: {
        showPannel: function showPannel() {
          this.showEmoji = !this.showEmoji;
        },
        selectE: function selectE(e) {
          this.textarea += e.native;
          this.showEmoji = !this.showEmoji;
        },
        getCookie: function getCookie(name) {
          if (!name || Object.prototype.toString.apply(name) !== '[object String]') return new Error('parm must be a string');
          var cookieArr = {};
          document.cookie && document.cookie.split(';').forEach(function (e) {
            e = e.replace(' ', ''); cookieArr[e.split('=')[0]] = e.split('=')[1];
          });
          return cookieArr[name];
        },
        dateFormat: function dateFormat(ms) {
          var prefix = function prefix(s) {
            return s < 10 ? '0' + s : s;
          };
          var date = new Date(ms);
          return date.getMonth() + 1 + '/' + date.getDate() + ' ' + prefix(date.getHours()) + ':' + prefix(date.getMinutes());
        },
        init: function init(id) {
          var self = this;
          socket.emit("login", {
            id: self.user_id,
            name: self.nickname,
            avatar: self.avatar
          });
          socket.on("welcome", function (data) {
            self.messages.push({
              type: 3,
              info: data.name + ' 加入本群'
            });
            self.scrollToBottom();
          });

          socket.on("serverMsg", function (data) {
            self.insertMsg(data);
          });
          socket.on("logout", function (data) {
            self.messages.push({
              type: 3,
              info: data.name + ' 已退出'
            });
            self.scrollToBottom();
          });
          socket.on('updateCount', function (data) {
            self.count = parseInt(data, 10);
          });
        },
        insertMsg: function insertMsg(obj) {
          var self = this;
          var isMe = obj.id === self.user_id;
          if (isMe) {
            this.messages.push({
              type: 1,
              id: obj.uid ? obj.uid : obj.id,
              src: obj.src,
              time: this.dateFormat(obj.time),
              name: obj.name,
              info: obj.info,
              cms_url: obj.cms_url || ''
            });
          } else {
            // 增加记录
            this.messages.push({
              type: 2,
              id: obj.uid ? obj.uid : obj.id,
              src: obj.src,
              time: this.dateFormat(obj.time),
              name: obj.name,
              cmsUrl: obj.cms_url || '',
              info: obj.info + (obj.cms_url ? "<a href='" + obj.cms_url + '\' class=\'link\'>\u67E5\u770B\u66F4\u591A</a>' : '')
              // 推广图
            }); if (obj.img) {
              this.messages.push({
                type: 2,
                id: obj.uid ? obj.uid : obj.id,
                src: obj.src,
                time: this.dateFormat(obj.time),
                name: obj.name,
                img: obj.img
              });
            }
          }
          this.scrollToBottom();
        },
        sendText: function sendText(e) {
          if (!this.textarea) return;
          e.stopPropagation();
          e.preventDefault();
          this.sendMsg();
        },
        sendMsg: function sendMsg() {
          var self = this;
          if (!self.textarea) return;
          var msg = {
            id: self.user_id,
            info: self.textarea,
            time: new Date().getTime(),
            name: self.nickname,
            src: self.avatar,
            uid: new Date().getTime()
          };
          socket.emit('newMsg', msg);
          self.textarea = '';
        },
        initscroll: function initscroll() {
          var self = this;
          self.getHistory();
          var _old = 0;
          var distance = 50;
          document.querySelector('.chatBox-ul').addEventListener('scroll', function (e) {
            if (e.target.scrollTop < 200 && !self.isLock) {
              self.getHistory();
            }
            _old = e.target.scrollTop;
          });
          setTimeout(function () {
            self.scrollToBottom();
          }, 50);
        },
        scrollToBottom: function scrollToBottom() {
          // var sum = 0;
          // $(".chatBox-ul li").each((i, e) => {
          //   sum += $(e).outerHeight() + 50;
          // });
          $(".chatBox-content").animate({ scrollTop: $('.chatBox-content-main').outerHeight() }, 100, 'easeInQuint');
        },
        genUid: function genUid() {
          return new Date().getTime() + "" + Math.floor(Math.random() * 899 + 100);
          window.addEventListener('scroll', function (e) {
            if (document.querySelector('.chatBox-ul').scrollTop < 300) {
              console.log(1);
            }
          });
        },
        getHistory: function getHistory() {
          var self = this;
          if (self.isEnd) return;
          if (self.isLock) return;
          self.isLock = true;
          // var requestAnimationFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.msRequestAnimationFrame;
          // var cancelAnimationFrame = window.cancelAnimationFrame || window.webkitCancelAnimationFrame || window.mozCancelAnimationFrame || window.msCancelAnimationFrame;
          // var req = void 0;
          // var step = function step(_) {
          //   self.pull -= 8;
          //   if (self.pull <= 40) {
          //     cancelAnimationFrame(req); self.pull = 40; self.refresh.tip = '加载中...'; return;
          //   }
          //   req = requestAnimationFrame(step);
          // };
          // if (self.pull === 80) {
          //   req = requestAnimationFrame(step);
          // } else {
          self.pull = 40;
          // }
          self.refresh.tip = '加载中...';
          $.ajax({
            url: "./history/" + self.group_id + "/" + self.page + "/" + self.size,
            method: 'get',
            success: function success(res) {
              var _old = $('.chatBox-content-main').outerHeight();
              if (res.code === 200) {
                console.log('Get Page :', self.page);
                res.data.listData.forEach(function (e) {
                  self.messages.unshift({
                    id: e.id || '',
                    type: e.content_type,
                    img: e.content_type == 2 ? e.content : '',
                    src: e.head_portrait,
                    time: self.dateFormat(e.send_time),
                    name: e.nickname || '',
                    info: e.content_type == 1 ? e.content : ''
                  });
                }
                  // 定位问题
                ); setTimeout(function () {
                  $('.chatBox-content').scrollTop($('.chatBox-content-main').outerHeight() - _old);
                }, 0);

                self.refresh.tip = '刷新成功';
                setTimeout(function () {
                  // var requestAnimationFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.msRequestAnimationFrame;
                  // var cancelAnimationFrame = window.cancelAnimationFrame || window.webkitCancelAnimationFrame || window.mozCancelAnimationFrame || window.msCancelAnimationFrame;
                  // var req = void 0;
                  // var step = function step(_) {
                  //   self.pull -= 2.5;
                  //   if (self.pull === 0) {
                  //     cancelAnimationFrame(req); self.pull = 0; self.refresh.tip = '下拉刷新'; return;
                  //   }
                  //   req = requestAnimationFrame(step);
                  // };
                  // req = requestAnimationFrame(step);
                  self.pull = 0;
                  self.refresh.tip = '下拉刷新';
                }, 600);

                self.isLock = false;
                self.page++;
                self.isEnd = res.data.currentPage === res.data.totalPage;
              } else {
                self.pull = 0;
              }
            },
            error: function error(err) {
              self.pull = 0;
              self.refresh.tip = '下拉刷新';
            }
          });
        },
        downRefresh: function downRefresh(dom, dir) {
          var self = this;
          var _content = document.querySelector(dom);
          var _start = 0;
          var _end = 0;
          var _toTop = 0;

          var judge = 0;
          _content.addEventListener('scroll', function (e) {
            _toTop = e.target.scrollTop;
          });
          _content.addEventListener('touchstart', function (e) {
            e = e || window.event;
            var touch = e.touches[0];
            _start = dir === 'x' ? touch.pageX : touch.pageY;
          }, false);

          _content.addEventListener('touchmove', function (e) {
            e = e || window.event;
            judge = 0;
            if (_content.scrollTop > 0) {
              judge = 1;
              return;
            } else {
              var touch = e.touches[0];
              _end = dir === 'x' ? touch.pageX : touch.pageY;
              var shift = _end - _start;
              // 滑动距离大于0
              if (shift > 0) {
                e.preventDefault();
                if (shift < 80) {
                  self.pull = shift;
                  self.refresh.tip = '下拉刷新';
                } else if (shift >= 80) {
                  self.pull = shift > 80 ? 80 : shift;
                  self.refresh.tip = '释放后刷新';
                }
              }
            }
          }, false);

          _content.addEventListener('touchend', function (e) {
            e = e || window.event;
            var endX = e.changedTouches[0].pageX;
            var endY = e.changedTouches[0].pageY;
            if (self.isEnd) {
              setTimeout(function () {
                self.pull = 0;
              }, 1000);
              self.refresh.tip = '已经到底啦~';
              return;
            }
            if (judge === 1) return;
            if (self.pull < 80) {
              self.pull = 0; return;
            }

            self.getHistory();
          }, false);
        },
        getSelection: function getSelection(e) {
          console.log(e);
          var sel = window.getSelection() || window.document.selection.createRange();
          var range = window.document.createRange();
          var el = e.target;
          window.setTimeout(function () {
            range.selectNodeContents(el);
            sel.removeAllRanges();
            sel.addRange(range);
          }, 0);
        }
      },
      directives: {
        focus: {
          // 当绑定元素插入到 DOM 中。
          inserted: function inserted(el) {
            // 聚焦元素
            el.focus();
          }
        }
      }
    });

    $(document).ready(function () {
      $(document).bind('contextmenu', function (e) {
        chat.getSelection(e);
      });
      $(document).bind('touchstart', function (e) {
        if (e.target.nodeName !== 'BUTTON' && chat.contentmenu.show) {
          chat.contentmenu.show = false;
        }
        if (e.target.nodeName !== 'LI' && chat.showEmoji) chat.showEmoji = false;
      }, true);
    });
  </script>
</body>

</html>