<!DOCTYPE html>
<html lang="en">

<head>
    <title>chatRoom--登录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-w">
        <div class="row">
            <h2 class="text-primary chatTitle">chatRoom</h2>
            <div class="form-horizontal chatForm">
                <div class="form-group">
                    <label for="userName">用户名</label>
                    <input type="text" class="form-control" id="userName" placeholder="用户名" required>
                </div>
                <div class="form-group">
                    <a type="submit" href='#' class="btn btn-primary btn-block" id="login">点击进入</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>